{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
  <div class="container">
    <div class="content-wrapper" aria-label="Text Editor">
      <div><h1>Mano Transkripcija</h1></div>
      <div class="editor" id="editor" contenteditable="true">
        {% for word in words %}
          {{ word|raw }}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block aside %}
  <div class="content-wrapper">
    <div>
      <h4>Failas: {{ fileName }}</h4>
    </div>
    <video id="player" controls>
      <source src="{{ url('media_player', {userfileId: userfileId}) }}" type="video/mp4">
    </video>
    <div class="content-wrapper">
      <div><strong>Reitingas:</strong> {{ confidence }}</div>
      <p class="help muted">Transkribavimo kokybės koeficientas (1 = puikiai)</p>
      <div><strong>Žodžiai:</strong>{{ wordCount }}</div>
      <p class="muted">Žodžių skaičius</p>
    </div>
  <div class="content-wrapper">
    <div class="field">
      <div class="control control--checkbox">
        <input class="checkbox" type="checkbox" id="highlights">
        <label class="label" for="highlights">Sunkūs žodžiai</label>
      </div>
      <p class="help muted">nuspalvinti algoritmui sunkius <span class="highlight-example">žodžius</span></p>
    </div>
    <div class="field">
      <div class="control control--checkbox">
        <input class="checkbox" type="checkbox" id="hints">
        <label class="label" for="hints">Nerodyti ištrintų žodžių</label>
      </div>
      <p class="help muted">išjungti originalių <strong style="color: black">[žodžių]</strong> rodymą vietoje ištrinto žodžio</p>
    </div>
    <button class="button" id="downloadButton" role="button" data-toggle="tooltip" title="Parsiųsti redaktoriuje esančią teksto versiją">Parsisiųsti transkripciją</button>
    <p class="help muted">Parsiųsti redaktoriuje esančią teksto versiją</p>
    <div class="pt-5 list-h">
        <a class="list-group-item export"
           href="{{ url('export_txt', {'userfileId': userfileId} ) }}" role="link" data-toggle="tooltip" title="Parsisųsti pirminę teksto versiją kaip tekstą"><i class="fas fa-download"></i></a>
        <a class="list-group-item export"
           href="{{ url('export_subtitles', {'userfileId': userfileId} ) }}" role="link" data-toggle="tooltip" title="Parsisųsti pirminę teksto versiją kaip subtitrus"><i class="fas fa-closed-captioning"></i></a>
{#
        <a class="list-group-item requires-confirm"
           href="{{ url('restore_file', {'userfileId': userfileId} ) }}" role="link" data-toggle="tooltip" title="Atstatyti pradinę transkripciją"><i class="fas fa-undo-alt"></i></a> #}
    </div>
  </div>
{% endblock %}
{% block javascripts %}
  {{ encore_entry_script_tags('editScrybedText') }}
{% endblock %}