{% extends 'layout.html.twig' %}

{% block title %}File status page{% endblock %}

{% block main %}
    <div class="">Check uploaded file status</div>
        Job `{{ job_id }}` was finished. Duration: {{ summary.lengthRounded }}s, confidence ratio: {{ summary.confidence }}, words count: {{ summary.words }}.
    <br>
    <div>Text:</div>
    <div style="background-color: lightgrey">
        {{ text }}
    </div>
{% endblock %}
{% block aside %}
    <div><a class="button" href="/download_txt_file/{{ job_id }}" target="_blank">Download TXT file</a></div>
    <div><a class="button" href="/edit_scribed_text/{{ job_id }}" target="_blank">Edit Text</a></div>
{% endblock %}


