<!DOCTYPE html>
<html lang="en/lt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Scriber{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
    <div id="landing-page" class="page-wrapper">
        <header class="page-header">
            <div class="header-content-left">
                <div class="content-wrapper">Upload DEMO file for recognition</div>
                    <p style="color: red;">{{  message }}</p>
                <div class="content-wrapper">
                    <form method="post" action="/send_demo_file">
                        Send DEMO file <input type="hidden" name="upload_demo_file" value="{{ soundFile }}"> <button class="button" type="submit" name="send_demo_file">Send</button>
                    </form>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="header-content-right">
                    <a class="button" href="{{ path('secure_login') }}">Prisijungti</a>
                    <a class="button" href="{{ path('register') }}">Registruotis</a>
                </div>
             </div>
        </header>

        <div class="page-content container">
            <div class="container">
                <div class="content-wrapper">
                    <div class="landing-page-title">Scriber</div>
                    <div class="landing-page-heading">Automatinis audio ir video transkribavimas</div>
                </div>
            </div>
        </div>

        <footer class="page-footer">
            <div class="container">
                <div class="content-wrapper">
                </div>
            </div>
        </footer>
    </div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>