{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <section class="pricing-page">
    <div class="page-content container">
      <div class="content-wrapper text-white text-center">
        <h1 class="text-white">Pasiūlymų paketai</h1>
        <p>
          Pasirinkite Jums tinkamą pasiūlymą ir gaukite nurodytą valandų kiekį transkribavimui.
        </p>
      </div>
    </div>
    <div class="page-content container">
      <div class="pricing container">
        <div class="content-wrapper">
          <div class="pricing-heading">{{ pricingPlans.0.pricingPlanHours }} valanda</div>
          <br><br><br>
          <div class="price-rate">{{ pricingPlans.0.pricingPlanRate }} &euro;</div>
          <h4>
            {{ (pricingPlans.0.pricingPlanRate / (pricingPlans.0.pricingPlanHours * 60)) | number_format(2, '.', ',') }} eur/min
          </h4>
          <br><br><br>
          <a class="button container" href="{{ path('buy', {'hours': pricingPlans.0.pricingPlanHours}) }}">Pirkti!</a>
        </div>
      </div>
      <div class="pricing container">
        <div class="content-wrapper">
          <div class="pricing-heading">{{ pricingPlans.1.pricingPlanHours }} valandos</div>
          <br><br><br>
          <div class="price-rate">{{ pricingPlans.1.pricingPlanRate }} &euro;</div>
          <h4>
            {{ (pricingPlans.1.pricingPlanRate / (pricingPlans.1.pricingPlanHours * 60)) | number_format(2, '.', ',') }} eur/min
          </h4>
          <br><br><br>
          <a class="button container" href="{{ path('buy', {'hours': pricingPlans.1.pricingPlanHours}) }}">Pirkti!</a>
        </div>
      </div>
      <div class="pricing container">
        <div class="content-wrapper">
          <div class="pricing-heading">{{ pricingPlans.2.pricingPlanHours }} valandos</div>
          <br><br><br>
          <div class="price-rate">{{ pricingPlans.2.pricingPlanRate }} &euro;</div>
          <h4>
            {{ (pricingPlans.2.pricingPlanRate / (pricingPlans.2.pricingPlanHours * 60)) | number_format(2, '.', ',') }} eur/min
          </h4>
          <br><br><br>
          <a class="button container" href="{{ path('buy', {'hours': pricingPlans.2.pricingPlanHours}) }}">Pirkti!</a>
        </div>
      </div>
    </div>
    {% if not app.user %}
      <div class="page-content container">
        <div class="content-wrapper">
          <h1 class="text-white">
            Arba<a class="button-link" href="{{ path('register') }}">Išbandykite nemokamai</a>
          </h1>
        </div>
      </div>
    {% endif %}
  </section>
{% endblock %}